<head>
  <title>Show Data</title>
</head>
<body>
  <h1>Your recommendations</h1>

  <div id="show-data"></div>

  <div>
    <a class="quizButton" href="quiz">Retake the quiz</a>
    <h2>or</h2>
    <a class="quizButton" href="signUp">Save results</a>
  </div>
</body>

