<h1>These are the shows you saved</h1>

<p>There are currently no saved shows. To add shows try:</p>
<a class="quizButton" href="quiz">Start the quiz</a>
<h2>or</h2>
<a class="quizButton" href="shows">Show list of shows</a>

<!-- form with a logout button -->
<form action="/logout" method="POST">
  <button type="submit">Logout</button>
</form>