<head>
  <title>Catalog of shows</title>
</head>
<body>
    <h1>List of shows</h1>

    {{> catalog }}

    <a class="quizButton" href="savedShows">Go back to saved shows</a>

    <div id="show-data"></div>

    <a class="quizButton" href="#">Back to Top</a>
</body>