<h1>Cartoon randomizer</h1>
<h2>Refresh the page for a new cartoon recommendation</h2>

<div id="show-data">
  <ul id="show-list"></ul>
</div>

<a class="quizButton" href="signUp">return to saved shows</a>

<script src="../public/javascript/cartoon-catalog.js"></script>
