<!-- shows.handlebars -->

<h1>Available Shows</h1>

{{#each shows}}
<div>
  <h2>{{name}}</h2>
  <p>{{overview}}</p>
  <form action="/addShow" method="POST">
    <input type="hidden" name="name" value="{{name}}">
    <input type="hidden" name="overview" value="{{overview}}">
    <button type="submit">Add to Saved Shows</button>
  </form>
</div>
{{/each}}
