<h1>Cartoon catalog</h1>
<h2>Here you can find a list of all the cartoons myApp has to offer:</h2>

<div class="results-p" id="show-data2">
  <ul id="show-list2"></ul>
</div>

<a class="quizButton" href="signUp">return to saved shows</a>

<script src="javascript/cartoon-catalog.js"></script>
