<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guest Signup</title>
</head>

<body>
  <header>
    <h1>You are currently a guest. Create an account to save this show</h1>
  </header>

  <main>
    <form id="signupForm" action="/signup" method="POST">
      {{#if error}}
        <p class="error-message">{{error}}</p>
      {{/if}}

      <fieldset>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </fieldset>

      <fieldset>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
      </fieldset>

      <fieldset>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" required>
      </fieldset>

      <fieldset>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </fieldset>

      <fieldset>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </fieldset>

      <fieldset>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </fieldset>

      <section>
        <button id="signUp" type="submit">Sign Up</button>
      </section>

      <section>
        <p>Already have an account?</p>
        <a class="formButton" href="/" id="loginButton" type="button">Log In</a>
      </section>
    </form>
  </main>

  <script src="javascript/signup.js"></script>
</body>
</html>
