<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guest Signup</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body class="background-image">
  <header>
    <h1 class="h1-white">You are currently a guest. Create an account to save this show</h1>
  </header>

  <main>
    <form id="signupForm" action="/signup" method="POST">
      {{#if error}}
        <p class="error-message">{{error}}</p>
      {{/if}}

      <fieldset>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </fieldset>

      <fieldset>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
      </fieldset>

      <fieldset>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
      </fieldset>

      <fieldset>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </fieldset>

      <fieldset>
        <label for="password">Password:</label>
        <p>Password requirements:</p>
        <ul id="signup-ul">
          <li>Contains 8 symbols or longer,</li>
          <li>Contains 1 uppercase letter</li>
          <li>Contains 1 lowercase letter</li>
          <li>Contains 1 symbol such as #, $, or @.</li>
        </ul> 
        
        <div class="password-toggle">
          <input type="password" id="password" name="password" pattern="(?=.*[A-Z])(?=.*[#@$])(?=.*[a-z]).{8,}" required>
          <i id="passwordToggleIcon" class="toggle-icon fa fa-eye" onclick="togglePasswordVisibility('passwordToggleIcon')"></i>
        </div>
      </fieldset>

      <fieldset>
        <label for="confirmPassword">Confirm Password:</label>
        <div class="password-toggle">
          <input type="password" id="confirmPassword" name="confirmPassword" pattern="(?=.*[A-Z])(?=.*[#@$])(?=.*[a-z]).{8,}" required>
          <i id="confirmPasswordToggleIcon" class="toggle-icon fa fa-eye" onclick="toggleConfirmPasswordVisibility()"></i>
        </div>
      </fieldset>

      <section>
        <button id="signUp" type="submit">Sign Up</button>
      </section>

      <section>
        <p>Already have an account?</p>
        <a class="formButton" href="/" id="loginButton" type="button">Log In</a>
      </section>
    </form>
  </main>

  <script src="javascript/signup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>
