/* General styling */
body {
  background-color: #deceee;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.background-image {
  background-image: url('../images/boiling-isles-night.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  color: #faf8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  margin: 0;
  margin-bottom: 0.5em;
}

h1 {
  margin: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  color: #000000;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

fieldset{
  border: none;
  padding: 0;
}

fieldset p, ul{
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
}

/* Styling for specific details */
#h1-index {
  color: #faf8ff;
}

#h2-index {
  color: #faf8ff;
}

#h3-index {
  color: #faf8ff;
}

#show-image {
  width: 50%;
}

/* Styling error messages */
.error-message {
  color: #ff0000;
}

/* Styling results */
.results-p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

.resultImages {
  margin-bottom: 0;
}

.resultImages {
  width: 50%;
  margin-bottom: 3em;
}

/* Styling login and signup forms */
form {
  border: 0.06em solid #ccc;
  border-radius: 0.2em;
  -webkit-box-shadow: 0em 0em .3125em #0000001a;
          box-shadow: 0em 0em .3125em #0000001a;
  background-color: #f1e6ff;
  max-width: 25em;
  padding: 1.25em;
  margin: .3125em auto;
  display: inline-block;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: .625em;
  text-align: left;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  border: 0.06em solid #ccc;
  border-radius: 0.1875em;
  -webkit-box-shadow: inset 0em .0625em .125em #0000001a;
          box-shadow: inset 0em .0625em .125em #0000001a;
  display: block;
  font-size: 1em;
  padding: 0.625em;
  margin-bottom: 1.25em;
  width: 100%;
}

button[type="submit"] {
  background-color: #9375c3;
  border: none;
  border-radius: 0.2em;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 0.625em;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #1c055b;
}

#signUp {
  margin-top: 2em;
}

.formButton {
  background-color: #9375c3;
  text-decoration: none;
  border: none;
  border-radius: 0.2em;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 0.625em;
  width: 90%;
  margin-top: 0.625em;
}

.formButton:hover {
  background-color: #1c055b;
}

/* Styling for the quiz*/
.question {
  margin-bottom: 1.25em;
}

.quizButton {
  background-color: #9375c3;
  text-decoration: none;
  border: none;
  border-radius: 0.2em;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 0.625em;
  width: 52%;
  margin: 0.625em auto;
}

.quizButton:hover {
  background-color: #1c055b;
}

#quizForm {
  margin: 0;
}

#quizForm select {
  margin-bottom: 2em;
  text-align: center;
  padding: 0.3125em;
  font-size: 1em;
  font-weight: bolder;
  color: #1c055b;
  background-color: #fbf5ff;
  border-radius: 0.2em;
  border-color: #1c055b;
}

/* Progressive enhancement input fields styling */
input:required:invalid {
  color: #6d2fb0;
  border-color: #6d2fb0;
  border-width: .2em;
  border-style: solid;
}

input:required:-moz-placeholder-shown {
  border-color: #12dd4b;
  border-width: .2em;
  border-style: solid;
}

input:required:-ms-input-placeholder {
  border-color: #12dd4b;
  border-width: .2em;
  border-style: solid;
}

input:required:valid,
input:required:placeholder-shown {
  border-color: #12dd4b;
  border-width: .2em;
  border-style: solid;
}

/* password visibility */

.password-toggle {
  position: relative;
}

.toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
